@{
    ViewData["Title"] = "Input Email";
}
@section Links {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}
@model YuNotes.ViewModels.EmailViewModel

<div class="form">

    <div id="code">
        <h1>Восстановление пароля</h1>
        <form action="Code" method="post">

            <div class="field-wrap">
                <label asp-for="Email">
                    Введите вашу электронную почту, на которую придет код подтверждения<span class="req">*</span>
                </label>
                <input type="text" asp-for="Email" autocomplete="off" />
                <span asp-validation-for="Email" />
            </div>

            <div asp-validation-summary="ModelOnly"></div>

            <button type="submit" class="button button-block">Выслать код</button>
        </form>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}