@{
    ViewData["Title"] = "Login";
}
@model YuNotes.ViewModels.LogInViewModel
@section Links {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}

<section class="form">

    <ul class="tab-group">
        <li class="tab active"><a asp-action="Login">Вход</a></li>
        <li class="tab"><a asp-action="SignUp">Регистрация</a></li>
    </ul>

    <div id="login">
        <h1>Добро пожаловать!</h1>
        <form asp-action="Login" asp-antiforgery="true" method="post">
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
            <div class="field-wrap">
                <label asp-for="Email">
                    Электронная почта<span class="req">*</span>
                </label>
                <input autocomplete="off" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>

            <div class="field-wrap">
                <label asp-for="Password">
                    Пароль<span class="req">*</span>
                </label>
                <input autocomplete="off" asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>

            <div asp-validation-summary="ModelOnly" ></div>
            <p class="forgot"><a asp-action="InputEmail">Забыли пароль?</a></p>

            <button class="button button-block">Войти</button>
        </form>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}