@{
    ViewData["Title"] = "Sign Up";
}

@section Links {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}

<div class="form">
    <ul class="tab-group">
        <li class="tab"><a asp-action="Login">Вход</a></li>
        <li class="tab active"><a asp-action="SignUp">Регистрация</a></li>
    </ul>

    <div id="signup">
        <h1>Регистрация</h1>
        <form action="/" method="post">
            <div class="top-row">
                <div class="field-wrap">
                    <label>
                        Псевдоним<span class="req">*</span>
                    </label>
                    <input type="text" required autocomplete="off" />
                </div>

            </div>
            <div class="field-wrap">
                <label>
                    Электронная почта<span class="req">*</span>
                </label>
                <input type="email" required autocomplete="off" />
            </div>
            <div class="field-wrap">
                <label>
                    Пароль<span class="req">*</span>
                </label>
                <input type="password" required autocomplete="off" />
            </div>
            <div class="field-wrap">
                <label>
                    Повторите пароль<span class="req">*</span>
                </label>
                <input type="password" required autocomplete="off" />
            </div>

            <button type="submit" class="button button-block">Начать</button>
        </form>
    </div>

</div>
