:root {
    --body-bg: #c1bdba;
    --grey: #808080;
    --form-bg: #13232f;
    --white: #ffffff;
    --main: #1ab188;
    --gray-light: #a0b3b0;
    --gray: #ddd;
    --black: #101010;
    --thin: 300;
    --normal: 400;
    --bold: 600;
    --br: 4px;
    --red-del: #f27d7d;
}

main {
    min-height: 800px;
}

html {
    font-size: 14px;
    margin: 0 auto;
    min-width: 1000px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0;
}

.list-group-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-group-item .delete-img {
    visibility: hidden;
    opacity: 0.3;
    filter: brightness(0) saturate(100%) invert(19%) sepia(100%) saturate(7464%) hue-rotate(17deg) brightness(96%) contrast(111%);
}

.delete-img-nonopacity {
    opacity: 0;
}

.list-group-item .find-img {
    visibility: hidden;
    opacity: 0.3;
    filter: brightness(0) saturate(100%) invert(8%) sepia(100%) saturate(7006%) hue-rotate(256deg) brightness(81%) contrast(101%);
    width: 30px;
}

.list-group-item:hover .delete-img, .list-group-item:hover .find-img {
    visibility: visible;
}