@{
    ViewData["Title"] = "Catalog";  
}

@model CatalogViewModel

@section Links {
    <link rel="stylesheet" href="~/css/calatog.css" asp-append-version="true" />
}

<section class="row">

    <div class="col-3 group-items">
        <ul class="list-group">
            <vc:group-menu model="@Model" />
        </ul>
    </div>

    <div class="col-8 m-3 notes-items">
        <h2 class="title">Твои заметки</h2>
        <div class="row">
            <vc:search model="@Model"/>
            <vc:sort-menu model="@Model" />
        </div>

        <vc:notes-catalog notes="Model.Notes" />
    </div>
</section>



